
header{
        height: 50px;
        nav{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                font-size: 20px;
                color: white;
                margin-left: 20px;
                @media screen and (min-width:768px){
                    margin-left: 50px;
                }
            }
            .menu-btn{
                font-size: 25px;
                color: white;
                margin-right:20px ;
                cursor: pointer;
                @media screen and (min-width:768px) {
                    display: none;
                }
            }
            #check{
                display: none;
                }
                #check:checked ~ .nav-menu{
                height: 100Vh;
            }
            #check:checked ~ .nav-menu li{
                display: block;
            }
            .nav-menu{
                position: fixed;
                right: 0;
                width: 300px;
                height: 0Vh;
                top:100px;
                background: rgb(0, 0, 0);
                text-align: center;
                transition: all .5s;
                border-radius: 10px 0px;
                z-index: 1;
                
                li{
                    display: none;
                    line-height: 30px;
                    margin: 50px 0;
                    transition: all .5s;
                    @media screen and (min-width:768px){
                        display: inline-block ;
                        line-height: 100px;
                        margin: 0px 20px;
                        transition: none;    
                    }
                }
                a{
                    color:white;
                    font-size: 20px;
                    font-weight: 600;
                    .active, &:hover{
                        font-size: 23px;
                        color: rgb(255, 6, 6); 
                        transition: .2s;
                    }
                }
                @media screen and (min-width:768px){
                position: relative;
                height: 100px;
                width: 700px;
                top: 0;
                background: none;   
                transition: none;
                text-align: right;
                margin-right:50px ;
                }
            }
        }
}
    
